.git
.github
.claude
.idea
.vscode
.ko
.ko.yaml
.editorconfig
.pre-commit-config.yaml
.golangci.yml

bin/
dist/
hack/
examples/
charts/
config/
scripts/
docs/

*.iml
*.md
!main.go

.gitignore
.dockerignore
Makefile
PROJECT
OWNERS
go.tool.mod
go.tool.sum
